---
import '../index.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ruff設定を簡単に管理できるウェブアプリケーション" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
